body {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            background-color: #a274d0;
            margin: 0;
            font-family: Arial, sans-serif;
        }

        #buttons {
            display: flex;
            gap: 15px;
        }

        .btn, .stop {
            background-color: #552c7c;
            color: white;
            border: none;
            padding: 15px 30px;
            font-size: 18px;
            border-radius: 10px;
            cursor: pointer;
            text-transform: capitalize;
        }

        .btn:hover, .stop:hover {
            background-color: #441f64;
        }